<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
   
</head>
<body>
        <!--Top container-->
        <section class="top-container">
            <header class="showcase">
                <h1>My Web Presence</h1><br><br>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p><br>
                <button class="btn">Read More</button>
            </header>
            <div class="top-box top-box-a">
                <h4>Membership</h4>
                <p class="price">$200/mo</p>
                <button class="btn">Buy Now</button>
            </div>
            <div class="top-box top-box-b">
                <h4>Pro Membership</h4>
                <p class="price">$400/mo</p>
                <button class="btn">Buy Now</button>
            </div>
        </section><br>
        <!-- Boxes Section-->
        <section class="boxes">
            <div class="box">
                <i class="fa-solid fa-chart-pie fa-4x"></i>
                <h3>Analytics</h3>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
            </div>
            <div class="box">
                <i class="fa-solid fa-globe fa-4x"></i>
                <h3>Marketing</h3>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
            </div>
            <div class="box">
                <i class="fa-solid fa-cog fa-4x"></i>
                <h3>Development</h3>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
            </div>
            <div class="box">
                <i class="fa-solid fa-users fa-4x"></i>
                <h3>Support</h3>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
            </div>
        </section><br>

        <!-- info section-->
        <section class="info">
            <img src="../../assets/img/imag.jpg" alt="imag">
            <div>
                <h2>Web Development</h2>
                <p id="conttent" style="text-align: justify; text-indent: 3rem;">Lorem Ipsum is simply dummy text of the
                    printing and typesetting industry.
                    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown
                    printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five
                    centuries,but also the leap into electronic typesetting, remaining essentially unchanged.</p><br>
                <a href="#" class="btn">Learn More</a>
            </div>
        </section><br>
        <!-- info2 section-->
        <section class="info2">
            <div>
                <h2>Web Development</h2>
                <p id="conttent" style="text-align: justify; text-indent: 3rem;">Lorem Ipsum is simply dummy text of the
                    printing and typesetting industry.
                    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown
                    printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five
                    centuries,but also the leap into electronic typesetting, remaining essentially unchanged.</p><br>
                <a href="#" class="btn">Learn More</a>
            </div>
            <img src="../../assets/img/info.jpg" alt="info">
        </section><br>
        <div class="txt">Enjoy your life :</div><br>

        <!-- portofolio-->
        <section class="portofolio">

            <img src="http://source.unsplash.com/random/200x200" alt="">
            <img src="http://source.unsplash.com/random/201x200" alt="">
            <img src="http://source.unsplash.com/random/202x200" alt="">
            <img src="http://source.unsplash.com/random/203x200" alt="">
            <img src="http://source.unsplash.com/random/204x200" alt="">
            <img src="http://source.unsplash.com/random/205x200" alt="">
            <img src="http://source.unsplash.com/random/206x200" alt="">
            <img src="http://source.unsplash.com/random/207x200" alt="">
            <img src="http://source.unsplash.com/random/208x200" alt="">
            <img src="http://source.unsplash.com/random/209x200" alt="">
            <img src="http://source.unsplash.com/random/210x200" alt="">
            <img src="http://source.unsplash.com/random/211x200" alt="">
        </section>

        <!-- footer-->
        <footer>
            <p>MyWebsite &copy; 2022</p>
        </footer>
    
    <!-- wrapperEnds -->
</body>

</html>
